<div id="header" class="site-wrap">

    <div class="site-navbar bg-white py-2">

        <div class="search-wrap">
            <div class="container">
                <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                <form action="#" method="post">
                    <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
                </form>
            </div>
        </div>

        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo">
                    <div class="site-logo">
                        <a href="index.handlebars" class="js-logo-clone">ShopMax</a>
                    </div>
                </div>
                <div class="main-nav d-none d-lg-block">
                    <nav class="site-navigation text-right text-md-center" role="navigation">
                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li class="has-children active">
                                <a href="index.handlebars">Home</a>
                                <ul class="dropdown">
                                    <li><a href="#">Menu One</a></li>
                                    <li><a href="#">Menu Two</a></li>
                                    <li><a href="#">Menu Three</a></li>
                                    <li class="has-children">
                                        <a href="#">Sub Menu</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Menu One</a></li>
                                            <li><a href="#">Menu Two</a></li>
                                            <li><a href="#">Menu Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="shop.handlebars">Shop</a></li>
                            <li><a href="#">Catalogue</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="login.handlebars">Log in</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="icons">
                    <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                    <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
                    <a href="cart.handlebars" class="icons-btn d-inline-block bag">
                        <span class="icon-shopping-bag"></span>
                        <span class="number">0</span>
                    </a>
                    <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                            class="icon-menu"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="site-blocks-cover" data-aos="fade">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto order-md-2 align-self-start">
                    <div class="site-block-cover-content">
                        <h1 style="font-size: 0.7cm;" class="sub-title">Register</h1>
                        <a href="shop" class="letshop"></a>

                        <form action="/register" , method="POST">
                            <div class="register">
                                <label for="runame"><b>Username</b>
                                    <input id="rusername" type="text" placeholder="Enter Username" name="runame"
                                        required></label><br>
                                <label for="rpsw"><b>Password</b>
                                    <input id="rpassword" type="password" placeholder="Enter Password" name="rpsw"
                                        required></label><br>
                                <label for="cfpsw"><b>Confirm password</b>
                                    <input id="cf-password" type="password" placeholder="Confirm Password" name="cf-psw"
                                        required></label><br>
                                <button id="register-button"
                                    style="justify-content: center; background-color: lightblue;" type="submit"
                                    class="target btn-default btn" onclick="location.href='shop'">Register</button>
                            </div>
                            
                        </form>



                    </div>
                </div>
                <div class="col-md-6 order-1 align-self-end">
                    <img src="images/model_3.png" alt="Image" class="img-fluid">
                </div>

            </div>
        </div>
    </div>

</div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#register-button").click(function () {
            $("h1").html("Welcome to shopmax, " + document.getElementById("username").value + "!");
            $(".letshop").html("Let's go shopping now!");
            $(".register").hide();

        });
    });
</script>

<script src="js/main.js"></script>

<footer id="footer" class="site-footer custom-border-top">
    <div class="container">
        <div class="row">
        </div>
</footer>